* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
}
body {
  padding: 20px;
  margin-top: 100px;
  min-width: 1000px;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 100px;
  border-bottom: 1px solid lightgrey;
  z-index: 2;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-style: italic;
  flex-grow: 2;
  font-size: 40px;
  text-shadow: 2px 2px 4px #27dbff;
}
h1:hover {
  cursor: pointer;
}

#input {
  border-radius: 8px;
  width: 300px;
  height: 30px;
  text-align: center;
  margin: 0 20px;
  font-size: 24px;
  color: black;
}

#input::placeholder {
  font-size: 24px;
}

#search {
  color: black;
  width: 70px;
  height: 30px;
  font-size: 20px;
  border-radius: 8px;
}
/* MAIN */
main {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.container-results {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
}

.carousel-item {
  position: relative;
}

.carousel-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 0 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.carousel-overlay > * {
  text-shadow: 2px 1px 1px black;
}

.carousel-overlay h2 {
  font-size: 50px;
}

.carousel .stars {
  color: gold;
  font-size: 35px;
  margin-top: 0;
}

select,
option {
  color: black;
  min-width: 150px;
  height: 32px;
  font-size: 20px;
  border-radius: 4px;
  margin: 10px 0;
}
ul {
  list-style: none;
}
div.show {
  min-height: 340px;
  margin: 10px 5px;
  width: calc(25% - 10px);
  position: relative;
}

div.show:hover .informazioni {
  display: block;
  overflow-y: auto;
}

span {
  color: #27dbff;
  text-align: justify;
}

h2.movie-title,
h2.tvseries-title {
  text-align: center;
  margin-bottom: 21px;
  border-radius: 8px;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(97,97,171,1) 38%, rgba(39,219,255,1) 100%);
}
h2, h3 {
  margin: 10px 0;
  font-size: 28px;
}

.show .poster {
  height: 100%;
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
}

.show .poster img{
  max-height: 100%;
  width: 100%;
  font-size: 24px;
  border-radius: 8px;
}

.show .poster h2 {
  position: absolute;
  display: inline-block;
  width: 100%;
  text-shadow: 1px 1px black;
}

.show ul.informazioni {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
}

.show ul.informazioni li{
  font-size: 1.4vw;
}

.container-results .stars {
  white-space: nowrap;
  color: gold;
  font-size: 1.4vw;
}

.container-results img.flag {
  height: 1.4vw;
  vertical-align: middle;
  border: 1px solid darkgrey;
}

.hidden {
  display: none;
}
