<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>BoolFlix</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.2/handlebars.js" integrity="sha256-N5vR06TQIR+YD8oS0yndB1pu/EITeijW52dwezEq7/g=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js" integrity="sha256-MAgcygDRahs+F/Nk5Vz387whB4kSK9NXlDN3w58LLq0=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg==" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
      <div id="app">
        <!-- HEADER -->
        <header>
          <h1>BoolFlix</h1>
          <input id="input" type="text" name="input" placeholder="Inserisci un titolo" v-model="input" v-on:keyup.enter="search">
          <button id="search" type="button" name="button" @click="search">Cerca</button>
        </header>
        <!-- MAIN -->
        <main>
          <h3 id="cercato" v-if="searchDone">hai cercato: "<span></span>"</h3>
          <!-- SEZIONE MOVIE -->
          <div>
            <h2 class="movie-title" v-if="searchDone">Movies</h2>
            <select  v-if="searchDone" id="movie-select" name="select"></select>
            <div class="movie container">
              <div v-for="movie in movies" class="show">
                <div class="poster" >
                  <img :src="(movie.poster != 'non disponibile') ? 'https://image.tmdb.org/t/p/w342' + movie.poster : 'img/no-cover.png'" :alt="movie.originalTitle">
                  <h2 v-if="movie.poster == 'non disponibile'">{{movie.title}}</h2>
                </div>
                <ul class="informazioni hidden">
                  <li>Titolo: <span>{{movie.title}}</span></li>
                  <li>Titolo Originale: <span>{{movie.originalTitle}}</span></li>
                  <li>Anno di uscita: <span>{{movie.releaseYear}}</span></li>
                  <li>Lingua Originale: <img class="flag" :src="'img/' + movie.language + '.png'" :alt="movie.language"></li>
                  <li v-if="movie.stars">Voto Medio: <span class="stars" v-html="movie.stars"></span></li>
                  <li>Generi: <span class="generi"></span></li>
                  <li v-if="movie.cast">Main Cast: <span class="cast">{{movie.cast}}</span></li>
                  <li v-if="movie.plot">Trama: <span>{{movie.plot}}</span></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- SEZIONE SERIE TV -->
          <div>
            <h2 v-if="searchDone" class="tvseries-title">TV Series</h2>
            <select v-if="searchDone" id="tv-select" name="select"></select>
            <div class="tvseries container">
              <div v-for="serie in series" class="show" id="">
                <div class="poster" >
                  <img :src="(serie.poster != 'non disponibile') ? 'https://image.tmdb.org/t/p/w342' + serie.poster : 'img/no-cover.png'" :alt="serie.originalName">
                  <h2 v-if="serie.poster == 'non disponibile'">{{serie.originalName}}</h2>
                </div>
                <ul class="informazioni hidden">
                  <li>Titolo: <span>{{serie.name}}</span></li>
                  <li>Titolo Originale: <span>{{serie.originalName}}</span></li>
                  <li>Anno di uscita: <span>{{serie.releaseYear}}</span></li>
                  <li>Lingua Originale: <img class="flag" :src="'img/' + serie.language + '.png'" :alt="serie.language"></li>
                  <li v-if="serie.stars">Voto Medio: <span class="stars" v-html="serie.stars"></span></li>
                  <li>Generi: <span class="generi"></span></li>
                  <li v-if="serie.cast">Main Cast: <span class="cast">{{serie.cast}}</span></li>
                  <li v-if="serie.plot">Trama: <span>{{serie.plot}}</span></li>
                </ul>
              </div>
            </div>
          </div>
        </main>
      </div>
        <script src="js/script.js" charset="utf-8"></script>
    </body>
</html>
